table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

button#downloadExpenses {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button#downloadExpenses:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
