.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  padding: 30px;
  border: 1px solid black;
  min-width: 350px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  margin-bottom: 10px;
}

label,
input {
  display: block;
  width: 100%;
  margin-block: 4px;
}

input {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid black;
  font-weight: bold;
  outline: none;
}

input:focus {
  box-shadow: 0 0 3px #0866ff;
}

.submit {
  margin-block: 10px;
  background-color: #0866ff;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
}

.submit:hover {
  background-color: #0861f0;
  cursor: pointer;
}

.forgot-password {
  text-align: center;
  margin-bottom: 8px;
}

.forgot-password a {
  color: #0866ff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
